@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Comfortaa:wght@500&display=swap');
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: rgb(228, 214, 176);
  font-family: sans-serif;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin-top: 30px;
  margin-bottom: -20px;
  font-size: 3.6rem;
  font-family: 'Comfortaa', cursive;
}

.main {
  width: 1020px;
  height: 900px;

  display: flex;
  align-items: center;

  font-family: 'Rajdhani', sans-serif;
}

.calc {
  width: 500px;
  height: 720px;
  background-color: grey;

  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 0 0 auto;
  margin-left: 260px;

  border-radius: 6px;

  min-height: fit-content;
}

.screen-container {
  width: 420px;
  height: 160px;
  margin-top: 35px;
  margin-bottom: 15px;
  padding-right: 20px;

  text-align: right;
  font-size: 3.3rem;

  border: 2px solid black;
  border-radius: 6px;

  background-color: rgba(241, 241, 241, 0.418);
}

.top-screen {
  height: 60px;
  text-align: right;
  line-height: 60px;
  font-size: 2rem;
}
.bottom-screen {
  height: 100px;
  text-align: right;
  line-height: 100px;
}

.buttons {
  width: 450px;
  height: 520px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.normal-btn {
  height: 74px;
  width: 95px;
  display: block;

  margin-top: -40px;

  border: 2px solid black;
  border-radius: 6px;

  text-align: center;
  line-height: 74px;
  font-size: 1.6em;

  background-color: rgba(253, 252, 252, 0.418);

  cursor: pointer;
}

.normal-btn:hover {
  background-color: rgba(194, 193, 193, 0.418);
}
.normal-btn:active {
  transform: scale(0.98);
}

.ac,
.del {
  width: 210px;

  margin-top: -2px;
}

.dot {
  pointer-events: none;
}

.ac {
  background-color: rgba(126, 70, 126, 0.555);
}
.ac:hover {
  background-color: rgba(87, 48, 87, 0.555);
}

.del {
  background-color: rgba(240, 51, 51, 0.555);
}
.del:hover {
  background-color: rgba(192, 41, 41, 0.555);
}

.operation,
.equals {
  background-color: rgba(253, 243, 97, 0.555);
}
.operation:hover,
.equals:hover {
  background-color: rgba(158, 152, 63, 0.555);
}

.limitations {
  margin-top: 300px;
  margin-left: 10px;
  padding-left: 10px;
  height: 200px;
  width: 240px;
  max-width: 240px;
  display: inline-block;
  justify-self: flex-end;
}
.after-ac > li {
  margin-left: 24px;
  padding-top: 8px;
}
ul {
  padding-left: 4px;
}

.footer {
  width: 100%;
  height: 30px;
  padding-top: 15px;

  text-align: center;
  background-color: rgba(206, 194, 160, 0.308);
}
