@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: beige;
  font-family: sans-serif;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin-top: 16px;
  font-size: 3em;
  font-family: 'Comfortaa', cursive;
}

.main {
  width: 900px;
  height: 900px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  width: 500px;
  height: 720px;
  background-color: grey;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 4px;

  min-height: fit-content;
}

.screen-container {
  width: 420px;
  height: 160px;
  margin-top: 35px;
  margin-bottom: 15px;
  padding-right: 20px;

  text-align: right;
  font-size: 3.3rem;

  border: 2px solid black;
  border-radius: 4px;

  background-color: rgba(241, 241, 241, 0.418);
}

.top-screen {
  height: 60px;
  text-align: right;
  line-height: 60px;
  font-size: 2rem;
}
.bottom-screen {
  height: 100px;
  text-align: right;
  line-height: 100px;
}

.buttons {
  width: 450px;
  height: 520px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.normal-btn {
  height: 74px;
  width: 95px;
  display: block;

  margin-top: -40px;

  border: 2px solid black;
  border-radius: 4px;

  text-align: center;
  line-height: 74px;
  font-size: 1.4em;

  background-color: rgba(241, 241, 241, 0.418);

  cursor: pointer;
}

.normal-btn:hover {
  background-color: rgba(170, 170, 170, 0.418);
}
.normal-btn:active {
  transform: scale(0.98);
}

.ac,
.del {
  width: 210px;

  margin-top: -2px;
}

.ac {
  background-color: rgba(126, 70, 126, 0.555);
}
.ac:hover {
  background-color: rgba(87, 48, 87, 0.555);
}

.del {
  background-color: rgba(240, 51, 51, 0.555);
}
.del:hover {
  background-color: rgba(192, 41, 41, 0.555);
}

.footer {
  width: 100%;
  height: 30px;
  padding-top: 15px;

  text-align: center;
  background-color: rgba(245, 245, 173, 0.39);
}
